# Data manipulation and analysis
pandas==2.1.0
numpy==1.24.3

# Spotify API
spotipy==2.23.0
python-dotenv==1.0.0

# Data visualization
plotly==5.16.1
matplotlib==3.7.2
seaborn==0.12.2

# Dashboard
streamlit==1.26.0

# Data storage
pyarrow==13.0.0  # For parquet files
